*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins',sans-serif;
    height: 100vh;
}

.App{
    width: 55%;
    height: 90vh;
    margin: auto;
    margin-top: 30px;
    background-color: #282D35;
    background-image: url(./assets/react-icon-large.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 80%;
    border-radius: 35px;
    box-shadow: 10px 10px 5px 0px rgba(49, 49, 49, 0.75) inset;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(49, 49, 49, 0.75) inset;
    -moz-box-shadow: 10px 10px 5px 0px rgba(49, 49, 49, 0.75) inset;
}

.navbar{
    background-color: #21222A;
    display: flex;
    align-items: center;
    padding: 30px 25px;
    height: 100px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    box-shadow: 10px 10px 5px 0px rgba(49, 49, 49, 0.75) inset;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(49, 49, 49, 0.75) inset;
    -moz-box-shadow: 10px 10px 5px 0px rgba(49, 49, 49, 0.75) inset;
}

.navbar img{
    height: 40px;
}

.navbar h3{
    color: #61DAFB;
    margin-right: auto;
    font-weight: 700;
    letter-spacing: 1.4px;
    font-size: 24px;
    text-shadow: 4px 4px 2px rgba(100, 100, 100, 0.6);
}

.navbar h4{
    color: rgb(194, 193, 193);
    font-weight: 500;
}

.main{
    color: white;
    max-width: 520px;
    padding: 40px 30px;
}

.main h1{
    font-weight: 700;
    font-size: 40px;
    margin: 0;
    text-shadow: 4px 4px 2px rgba(131, 131, 131, 0.6);
}

.main ul{
    margin-left: 80px;
}

.main li{
    color: #c0c0c4;
    padding-block: 10px;
}


.main li::marker{
    font-size: 1.3rem;
    color: #61DAFB;
}